@using BandTracker.Models;

<h1>Band Tracker</h1>
<h2>Venue: @Model["venue"].Name</h2>
<hr />
@if (@Model["venueBands"].Count != 0)
{
  <h4>Here are all the bands in this venue:</h4>
    @foreach (var band in @Model["venueBands"])
    {
      <h2>@band.Name</h2>
    }
}
<h4>Add a band to this venue:</h4>
<form action='/venues/@Model["venue"].Id/bands/new’ method='post'>
  <label for='band-id'>Select a band</label>
  <select id='band-id' name='band-id' type='text'>
    @foreach (var band in @Model["allBands"])
    {
      <option value='@band.Id'>@band.Name</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>
<p><a href="/">Return to Main Page</a></p>
